In [32]:
import pandas as pd
import numpy as np

import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline

In [33]:
df = pd.read_csv('/home/onyeogulu/www/node/mlbookcamp-code/Assignments/housing.csv')
len(df)

20640

In [34]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [35]:
df_new = df [['latitude','longitude','housing_median_age','total_rooms','total_bedrooms','population','households','median_income','median_house_value']]
df_new.head()

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,37.88,-122.23,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0
1,37.86,-122.22,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0
2,37.85,-122.24,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0
3,37.85,-122.25,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0
4,37.85,-122.25,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0

In [36]:
df_new.isnull().sum()

latitude                0
longitude               0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
dtype: int64

In [37]:
df_new.population.median()

1166.0

In [39]:
np.random.seed(42)

n = len(df_new)

n_val = int(0.2 * n)
n_test = int(0.2 * n)
n_train = n - (n_val + n_test)

idx = np.arange(n)
np.random.shuffle(idx)

df_shuffled = df_new.iloc[idx]

df_train = df_shuffled.iloc[:n_train].copy()
df_val = df_shuffled.iloc[n_train:n_train+n_val].copy()
df_test = df_shuffled.iloc[n_train+n_val:].copy()

In [40]:
df_train.head()

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
20046,36.06,-119.01,25.0,1505.0,NaN,1392.0,359.0,1.6812,47700.0
3024,35.14,-119.46,30.0,2943.0,NaN,1565.0,584.0,2.5313,45800.0
15663,37.80,-122.44,52.0,3830.0,NaN,1310.0,963.0,3.4801,500001.0
20484,34.28,-118.72,17.0,3051.0,NaN,1705.0,495.0,5.7376,218600.0
9814,36.62,-121.93,34.0,2351.0,NaN,1063.0,428.0,3.7250,278000.0

In [41]:
df_test.head()

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
9221,37.13,-120.26,33.0,1239.0,250.0,648.0,227.0,2.0278,58800.0
10234,33.86,-117.91,26.0,2296.0,570.0,1415.0,527.0,2.4732,165800.0
4763,34.04,-118.36,48.0,1769.0,429.0,993.0,405.0,2.3214,139400.0
9062,34.69,-118.15,32.0,1300.0,234.0,712.0,249.0,3.2500,107500.0
1874,38.93,-119.97,24.0,856.0,185.0,388.0,108.0,3.1806,107200.0

In [42]:
df_val.head()

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
19660,37.51,-120.85,15.0,1131.0,285.0,728.0,281.0,1.5531,93100.0
4415,34.09,-118.25,52.0,1866.0,470.0,1211.0,417.0,2.9350,189400.0
18113,37.31,-122.02,34.0,2629.0,433.0,1301.0,431.0,6.0830,341400.0
17673,37.30,-121.88,16.0,2692.0,749.0,1674.0,681.0,2.6763,191100.0
16992,37.56,-122.27,17.0,3211.0,847.0,1553.0,812.0,4.9434,292100.0

In [43]:
y_train = df_train.median_house_value.values
y_train = np.log1p(y_train)
df_train = df_train.drop("median_house_value", axis=1)

y_val = df_val.median_house_value.values
y_val = np.log1p(y_val)
df_val = df_val.drop("median_house_value", axis=1)

In [44]:
df_train.head()

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
20046,36.06,-119.01,25.0,1505.0,NaN,1392.0,359.0,1.6812
3024,35.14,-119.46,30.0,2943.0,NaN,1565.0,584.0,2.5313
15663,37.80,-122.44,52.0,3830.0,NaN,1310.0,963.0,3.4801
20484,34.28,-118.72,17.0,3051.0,NaN,1705.0,495.0,5.7376
9814,36.62,-121.93,34.0,2351.0,NaN,1063.0,428.0,3.7250

Question 3

RMSE

In [45]:
def rmse(y, y_pred):
    error = y_pred - y
    mse = (error ** 2).mean()
    return np.sqrt(mse)

Fill missing value with zero

In [46]:
def prepare_X(df):
    df_num = df.fillna(0)
    X = df_num.values
    return X

Linear Regression

In [47]:
def train_linear_regression(X, y):
    ones = np.ones(X.shape[0])
    X = np.column_stack([ones, X])

    XTX = X.T.dot(X)
    XTX_inv = np.linalg.inv(XTX)
    w = XTX_inv.dot(X.T).dot(y)
    
    return w[0], w[1:]

In [48]:
X_train = prepare_X(df_train)
w_0, w = train_linear_regression(X_train, y_train)

In [49]:
y_pred_0 = w_0 + X_train.dot(w)
round(rmse(y_train,y_pred_0), 2)

0.34

Fill missing value with mean

In [50]:
def prepare_X_1(df):
    df_num = df_train.fillna(df_train.mean())
    X = df_num.values
    return X

In [51]:
X_train = prepare_X_1(df_train)
w_0_mean, w_mean = train_linear_regression(X_train, y_train)

In [52]:
y_pred_mean = w_0_mean + X_train.dot(w_mean)
round(rmse(y_train,y_pred_mean), 2)

0.34

Question 4

Regularization

In [54]:
def train_linear_regression_reg(X, y, r=0.0):
    ones = np.ones(X.shape[0])
    X = np.column_stack([ones, X])

    XTX = X.T.dot(X)
    reg = r * np.eye(XTX.shape[0])
    XTX = XTX + reg

    XTX_inv = np.linalg.inv(XTX)
    w = XTX_inv.dot(X.T).dot(y)
    
    return w[0], w[1:]

In [55]:
reg_value = [0, 0.000001, 0.0001, 0.001, 0.01, 0.1, 1, 5, 10]
X_train = prepare_X(df_train)
X_val = prepare_X(df_val)
for r in reg_value:
    w_0, w = train_linear_regression_reg(X_train, y_train, r=r)
    pred_reg = w_0 + X_val.dot(w)
    rmse_value = round(rmse(y_val,pred_reg), 2)
    print("Regularisation value:",r, "RMSE:",rmse_value)

Regularisation value: 0 RMSE: 0.33
Regularisation value: 1e-06 RMSE: 0.33
Regularisation value: 0.0001 RMSE: 0.33
Regularisation value: 0.001 RMSE: 0.33
Regularisation value: 0.01 RMSE: 0.33
Regularisation value: 0.1 RMSE: 0.33
Regularisation value: 1 RMSE: 0.33
Regularisation value: 5 RMSE: 0.34
Regularisation value: 10 RMSE: 0.34

Question 5

In [56]:
def prep(df, s):
    np.random.seed(s)
    n = len(df)
    n_val = int(0.2 * n)
    n_test = int(0.2 * n)
    n_train = n - (n_val + n_test)

    idx = np.arange(n)
    np.random.shuffle(idx)

    df_shuffled = df.iloc[idx]

    df_train = df_shuffled.iloc[:n_train].copy()
    df_val = df_shuffled.iloc[n_train:n_train+n_val].copy()
    df_test = df_shuffled.iloc[n_train+n_val:].copy()


    y_train = df_train.median_house_value.values
    y_train = np.log1p(y_train)
    df_train = df_train.drop("median_house_value", axis=1)

    y_val = df_val.median_house_value.values
    y_val = np.log1p(y_val)
    df_val = df_val.drop("median_house_value", axis=1)

    y_test = df_test.median_house_value.values
    y_test = np.log1p(y_test)
    df_test = df_test.drop("median_house_value", axis=1)
    return df_train, y_train, df_val, y_val, df_test, y_test

In [57]:
seed = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
scores = []
for s in seed:
    df_train, y_train, df_val, y_val, df_test, y_test = prep(df_new, s)
    X_train = prepare_X(df_train)
    X_val = prepare_X(df_val)
    w_0, w = train_linear_regression(X_train, y_train)
    pred_val = w_0 + X_val.dot(w)
    rmse_value = round(rmse(y_val,pred_val), 2)
    print("Seed value:",s, "RMSE:",rmse_value)
    scores.append(rmse_value)
print("Standard deviation of scores", round(np.std(scores),3))

Seed value: 0 RMSE: 0.34
Seed value: 1 RMSE: 0.34
Seed value: 2 RMSE: 0.33
Seed value: 3 RMSE: 0.34
Seed value: 4 RMSE: 0.34
Seed value: 5 RMSE: 0.34
Seed value: 6 RMSE: 0.35
Seed value: 7 RMSE: 0.34
Seed value: 8 RMSE: 0.35
Seed value: 9 RMSE: 0.34
Standard deviation of scores 0.005

Question 6

In [64]:
df_train, y_train, df_val, y_val, df_test, y_test = prep(df_new, 9)
X_train_new = pd.concat([df_train,df_val])
y_train_new = np.hstack((y_train, y_val))
X_train_new = prepare_X(df_train)
X_test_new = prepare_X(df_test)
w_0, w = train_linear_regression_reg(X_train, y_train, r=0.001)
pred_val = w_0 + X_val.dot(w)
rmse_value = round(rmse(y_val,pred_val), 2)
print("Seed value:",s, "RMSE:",rmse_value)

Seed value: 9 RMSE: 0.34